main.txt
EXERCICES_C.pdf
exercice1/Exercie1.docx
exercice2/exercice2.zip
exercice4/exercice4-TD am.pdf
exercice4/exercice4.zip
exercice5/exercice5.zip
exercice5/questions.pdf
exercice6/exercice6.docx
exercice6/exercice6.pdf
exercice6/exercice6.zip